

	
/* to_submit */

#to_submit {
	width: 700px;
	float: left;
	position: relative;
	margin: 0px 0px 30px 0px;
}
	#to_submit input {
		float: left;
		position: relative;
		padding: 10px 25px 10px 25px;
		text-shadow: 0px 1px 0px #000;
		color: #FFFFFF;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		background: url(images/layout/button_bg_1x47.jpg) repeat-x #256097;
		border: none;
		font-weight: bold;
		border-radius: 3px;
		-webkit-border-radius: 3px;
	}
		#to_submit input:hover {cursor: pointer; background:#256097 }
	
/* Tooltip */

.tooltip {
	display:none;
	background: url(images/layout/tool_tip_276x96.png) no-repeat;
	font-size:11px;
	height: 56px;
	width:211px;
	color: #999999;
	padding: 20px 40px 20px 25px;	
}
