

	.container {
		width: 700px;
		margin: auto;
	}
	
		#to_header {
			width: 700px;
			float: left;
			position: relative;
		}
			#to_header h3 {
				font-family: Georgia, "Times New Roman", Times, serif;
				font-size: 24px;
				font-style: italic;
				font-weight: normal;
				letter-spacing: -0.5px;
				float: left;
				position: relative;
				background: url(images/layout/ato_circles_35x16.png) no-repeat right;
				padding: 0px 40px 0px 0px;
				margin: 25px 0px 25px 0px;
			}
		
	
/* Layout 325 */

#wp_admin_option_content {
	width: 700px;
	float: left;
	position: relative;
	border-bottom: 1px solid #F6F6F6;
	border-top: 1px solid #F6F6F6;
	margin: 0px 0px 20px 0px;
	padding: 20px 0px 0px 0px;
}
	#wp_admin_option_content .section {
		width: 100%;
		float: left;
		position: relative;
		margin: 0px 0px 20px 0px;
	}
		#wp_admin_option_content .section label {
			width: 100%;
			float: left;
			position: relative;
			font-weight: bold;
			margin: 0px 0px 5px 0px;
		}
		#wp_admin_option_content .section input {
			width: 96%;
			padding: 7px 2%;
		}
		